<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="scss/functions.scss">
     <link rel="stylesheet" href="scss/variables.css">
</head>
<body>
    
<h3>Sign our form to recive free drugs</h3>

<div>
    <form action="/form" method="POST">
        <label for="fname">First name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname"> Las Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name...">

        <label for="country"> Country</label>
        <select name="country" id="country">
            <option type="text" value="sweden">Sweden</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>

        <input type="submit" value="Submit">
    </form>
</div>

<div>
    <ul class="form">
     
    </ul>
</div>

</body>
</html>